/*
https://www.google.com/fonts/specimen/Orbitron
https://www.google.com/fonts/specimen/Play
*/

@font-face {
  font-family: 'Orbitron';
  src: url('fonts/Orbitron-Medium.ttf');
}

@font-face {
  font-family: 'Orbitron';
  src: url('fonts/Orbitron-Black.ttf');
  font-weight: bold;
}

body {
	background-color: black;
	color: orange;
	font-family: "Orbitron";
	font-size: 16px;
	line-height: 19px;
}

.gamescreen {
	width: 1000px;
	height: 670px;
	border: 2px solid orange;
	border-radius: 5px;
	background-color: orange;
}

.cards {
	width: 600px;
	height: 400px;
	border: 2px solid orange;
	border-radius: 5px;
	background-color: black;
}

.controls {
	width: 600px;
	height: 250px;
	border: 2px solid orange;
	border-radius: 5px;
	background-color: black;
}

.controlpanel {
	width: 200px;
	height: 200px;
	font-size: 24px;
	line-height: 27px;
	padding: 20px;
	display:inline-block;
	border: 2px solid orange;
	border-radius: 5px;
	vertical-align:top;
}

.selected {
	color: #af7;
	font-weight: bold;
}

.card {
	width: 200px;
	height: 120px;
	border: 2px solid orange;
	border-radius: 5px;
	display:inline-block;
	margin: 20px;
	padding: 20px;
	vertical-align:top
}

.turn {
	border: 2px solid red;
}

.lines {
	pointer-events: none;
}

.line {
	padding:0px;
	margin:0px;
	line-height:1px;
	position:absolute;
}