/*
https://www.google.com/fonts/specimen/Orbitron
https://www.google.com/fonts/specimen/Play
*/

@font-face {
  font-family: 'Orbitron';
  src: url('fonts/Orbitron-Medium.ttf');
}

@font-face {
  font-family: 'Orbitron';
  src: url('fonts/Orbitron-Black.ttf');
  font-weight: bold;
}

body {
	background-color: black;
	color: orange;
	font-family: "Orbitron";
	font-size: 16px;
	line-height: 19px;
}

.gamescreen {
	width: 1000px;
	height: 670px;
	border: 2px solid orange;
	border-radius: 5px;
	background-color: orange;
}

.cards {
	width: 600px;
	height: 400px;
	border: 2px solid orange;
	border-radius: 5px;
	background-color: black;
}

.controls {
	width: 600px;
	height: 250px;
	border: 2px solid orange;
	border-radius: 5px;
	background-color: black;
}

.controlpanel {
	width: 200px;
	height: 200px;
	font-size: 24px;
	line-height: 27px;
	padding: 20px;
	display:inline-block;
	border: 2px solid orange;
	border-radius: 5px;
	vertical-align:top;
}

.selected {
	color: #af7;
	font-weight: bold;
}

.card {
	position: relative; /* for contents */
	width: 200px;
	height: 120px;
	border: 2px solid orange;
	border-radius: 5px;
	display:inline-block;
	margin: 20px;
	padding: 20px;
	vertical-align:top
}

.cardfx {
	position: absolute;
	width: 240px;
	height: 160px;
	top: 0;
	left: 0;
	opacity: 1;
}

.msg {
	font-size: 24px;
	line-height: 27px;
}

.turn {
	border: 2px solid red;
}

.lines {
	pointer-events: none;
}

.line {
	padding:0px;
	margin:0px;
	line-height:1px;
	position:absolute;
}

/* Portrait */

.portrait {
	width: 64px;
	height: 64px;
	border: 2px solid orange;
	position: relative; /* Allow contents to be relatively positioned */
	margin-right: 8px;
	display: inline-block;
}

.inportrait {
	width: 64px;
	position: absolute;
}

.damage {
	width: 100%;
	background-color: rgba(255, 0, 0, 0.6);
	position: absolute;
	bottom: 0;
}

/* Energy Bar */

.energybar {
	width: 8px;
	height: 64px;
	position: relative; /* Allow contents to be relatively positioned */
	border: 2px solid orange;
	background-color: black;
	display: inline-block;
}

.energybarinside {
	width: 100%;
	background-color: #af7;
	position: absolute;
	bottom: 0;
}

/* Animations */

.cardfx.ng-enter {
  -webkit-transition:0.032s linear all;
  transition:0.032s linear all;
}

.cardfx.ng-leave {
  -webkit-transition:0.4s linear all;
  transition:0.4s linear all;
}

.cardfx.ng-enter,
.cardfx.ng-leave.ng-leave-active {
	opacity:0;
}
.cardfx.ng-leave,
.cardfx.ng-enter.ng-enter-active {
  opacity:1;
}