/*
https://www.google.com/fonts/specimen/Orbitron
https://www.google.com/fonts/specimen/Play
*/

@font-face {
  font-family: 'Orbitron';
  src: url('fonts/Orbitron-Medium.ttf');
}

@font-face {
  font-family: 'Orbitron';
  src: url('fonts/Orbitron-Black.ttf');
  font-weight: bold;
}

body {
	background-color: black;
	color: orange;
	font-family: "Orbitron";
	font-size: 16px;
	line-height: 19px;
}

.controls {
	width: 200px;
	height: 200px;
	font-size: 24px;
	line-height: 27px;
	padding: 20px;
	display:inline-block;
	border: 2px solid black;
}

.selected {
	color: #af7;
	font-weight: bold;
}

.card {
	width: 200px;
	height: 150px;
	border: 2px solid black;
	border-radius: 5px;
	display:inline-block;
	margin: 20px;
	padding: 20px;
}

.turn {
	border: 2px solid red;
}