---
title: Neptune 9.2
categories: [games]
description: A shootout in a space-corridor for 2 players.
order: 9
date: 2014-01-27
icon: neptune9/neptune9-icon.png
---
<html lang="en-US" ng-app="neptune9">
<head>
	<meta charset="UTF-8">
	<title>Neptune 9</title>
	<!--<link href="//fonts.googleapis.com/css?family=Orbitron:400,500,700,900" rel="stylesheet" type="text/css">-->
	<link rel="stylesheet" href="css/game.css">
	<script data-main="js/game" src="js/angular.js"></script>
	<script data-main="js/game" src="js/angular-animate.js"></script>
	<script data-main="js/game" src="js/game.js"></script>
	<script data-main="js/game" src="js/neptune9.js"></script>
	{% include analytics.html %}
</head>
<body>
	<div class="gamescreen">
		<div class="cards">
			<div class="card" 
			ng-class="{turn: isMyTurn()}" 
			ng-repeat="card in cards" 
			ng-controller="CardCtrl" 
			ng-click="select($index)"
			ng-init="init($index)">
				<div>{{card.creature.name}}</div>
				<div class="portrait">
					<img class="inportrait" ng-src="art/{{card.creature.img}}">
					<div class="damage" style="height:{{64-card.creature.hp*64/card.creature.getMaxHp()}}"></div>
					<img class="inportrait" src="art/dead.png" ng-if="card.creature.hp <= 0">
				</div>
				<div class="energybar">
					<div class="energybarinside" style="height:{{card.creature.energy*64/card.creature.getMaxEnergy()}}"></div>
				</div>
				<div class="hppotions" 
					ng-if="card.creature.potions.hp > 0">
					H Potions: {{card.creature.potions.hp}}
				</div>
				<div class="energypotions" 
					ng-if="card.creature.potions.energy > 0">
					E Potions: {{card.creature.potions.energy}}
				</div>
				<div class="msg" ng-repeat="text in card.creature.texts">{{text}}</div>
				<div ng-if="isActiveTarget()">(Target)</div>
				<img class="cardfx" 
					ng-repeat="fx in card.creature.fx"
					ng-src="art/{{fx.sprite}}">
			</div>
		</div>
		<div class="controls">
			<div class="controlpanel"
			ng-controller="ControlCtrl"
			ng-class="{turn: isMyTurn()}"
			ng-show="!showLevelUpUI()"
			ng-init="init()">
				<div 
				class="actionbutton"
				ng-repeat="action in player().card.creature.moves" 
				ng-class="{selected: $index==selectedAction}"
				ng-click="useAction($index)">
				{{action.name}}
				<span class="actionodds">{{player().actionOdds[$index]}}</span>
				</div>
			</div>
			<div ng-controller="LevelUpCtrl">
				<div 
					ng-show="showLevelUpUI()"
					class="controlpanel">
					<div>Choose an attribute to improve:</div>
					<div 
						class="actionbutton"
						ng-repeat="attr in player().card.creature.attrNames" 
						ng-click="levelUpAttribute($index)">
						{{attr}}
						<span class="actionodds">{{player().card.creature.attr[$index]}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="lines"></div>
</body>
</html>