---
title: Neptune 9.2
categories: [games]
description: A shootout in a space-corridor for 2 players.
order: 9
date: 2014-01-27
icon: neptune9/neptune9-icon.png
---
<html lang="en-US" ng-app="neptune9">
<head>
	<meta charset="UTF-8">
	<title>Neptune 9</title>
	<!--<link href="//fonts.googleapis.com/css?family=Orbitron:400,500,700,900" rel="stylesheet" type="text/css">-->
	<link rel="stylesheet" href="css/game.css">
	<script data-main="js/game" src="js/angular.js"></script>
	<script data-main="js/game" src="js/angular-animate.js"></script>
	<script data-main="js/game" src="js/lines.js"></script>
	<script data-main="js/game" src="js/neptune9.js"></script>
	{% include analytics.html %}
</head>
<body>
	<div class="gamescreen">
		<div class="cards">
			<div class="card" 
			ng-class="{turn: isMyTurn()}" 
			ng-repeat="card in cards" 
			ng-controller="CardCtrl" 
			ng-click="select($index)"
			ng-init="init($index)">
				<div>{{card.creature.name}}</div>
				<div class="portrait">
					<img class="inportrait" src="art/spy.png">
					<div class="damage" style="height:{{64-card.creature.hp*64/card.creature.maxHp}}"></div>
					<img class="inportrait" src="art/dead.png" ng-if="card.creature.hp <= 0">
				</div>
				<div class="energybar">
					<div class="energybarinside" style="height:{{card.creature.energy*64/card.creature.maxEnergy}}"></div>
				</div>
				<div class="msg" ng-repeat="text in card.creature.texts">{{text}}</div>
				<div ng-if="isActiveTarget()">(Target)</div>
				<img class="cardfx" 
					ng-repeat="fx in card.creature.fx"
					src="art/{{fx.sprite}}">
			</div>
		</div>
		<div class="controls">
			<div class="controlpanel" 
			ng-repeat="player in players" 
			ng-controller="ControlCtrl"
			ng-class="{turn: isMyTurn()}"
			ng-init="init($index)">
				<div 
				class="actionbutton"
				ng-repeat="action in player.card.creature.moves" 
				ng-class="{selected: $index==selectedAction}"
				ng-click="useAction($index)">
				{{action.name}}</div>
			</div>
		</div>
	</div>
	<div class="lines"></div>
</body>
</html>